@model CookBookMVC.Application.ViewModels.Recipe.NewRecipeVm

@{
	ViewData["Title"] = "AddRecipe";
}

<h1>AddRecipe</h1>

<h4>NewRecipeVm</h4>
<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="AddRecipe">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="Id" />

			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="CategoryId" class="control-label"></label>
				@* Użyj DropDownList dla kategorii *@
				<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<label asp-for="AmountOfIngredients" class="control-label"></label>
				<input asp-for="AmountOfIngredients" class="form-control" id="amountOfIngredients" />
				<span asp-validation-for="AmountOfIngredients" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Ingredients</label>
				<div class="row" id="ingredient-container" </div>
			</div>
			<div class="form-group">
				<label asp-for="DifficultyId" class="control-label"></label>
				@*Użyj DropDownList dla trudnosci*@
				<select asp-for="DifficultyId" class="form-control" asp-items="ViewBag.Difficulties"></select>
				<span asp-validation-for="DifficultyId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="TimeId" class="control-label"></label>
				<select asp-for="TimeId" class="form-control" id="time-dropdown">
					<option value="">Select existing time</option>
					@foreach (var time in ViewBag.Times)
					{
						<option value="@time.Value">@time.Text</option>
					}
				</select>
				@*<span asp-validation-for="TimeId" class="text-danger"></span>*@
			</div>


			<div class="form-group" id="new-time-fields" style="display: none;">
				<label asp-for="TimeAmount" class="control-label">Amount:</label>
				<input asp-for="TimeAmount" class="form-control" />
				@*<span asp-validation-for="TimeAmount" class="text-danger"></span>*@

				<label asp-for="TimeUnit" class="control-label">Unit:</label>
				<input asp-for="TimeUnit" class="form-control" />
				@*<span asp-validation-for="TimeUnit" class="text-danger"></span>*@
			</div>


			<button type="button" class="btn btn-primary" id="show-new-time-fields">Add New Time</button>

			@*await Html.PartialAsync("_NewTimeAdd", Model)
	*@
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			
			<div class="form-group mt-3">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		// Funkcja dodająca nowe pola dla kolejnych składników, do zrobienia by wybierać z listy
		document.addEventListener("DOMContentLoaded", function () {
			document.getElementById("amountOfIngredients").addEventListener("input", function () {
				var amount = parseInt(this.value);
				var container = document.getElementById("ingredient-container");
				container.innerHTML = "";

				if (!isNaN(amount) && amount > 0) {
					for (var i = 0; i < amount; i++) {
						var newIngredientHtml = `
							<div class = "row mb-2">
								<div class="col-md-4">
									<div class="ingredient">
										<label>Name</label>
										<input name="Ingredients[${i}].Name" class="form-control" />
										<span class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="ingredient">
										<label>Quantity</label>
										<input name="Ingredients[${i}].Quantity" class="form-control" />
										<span class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="ingredient">
										<label>Unit</label>
										<input name="Ingredients[${i}].Unit" class="form-control" />
										<span class="text-danger"></span>
									</div>
								</div>
							</div>
															`;

						container.insertAdjacentHTML("beforeend", newIngredientHtml);
					}
				}
			});
		});
	</script>
<script type="text/javascript">
	$(window).on("load", function () {
		if ($("#time-dropdown").val() === "Select existing time") {
			$("#new-time-fields").show();
		} else {
			$("#new-time-fields").hide();
		}

		// Obsługa zmiany wartości w dropdownie
		$("#time-dropdown").change(function () {
			if ($(this).val() === "Select existing time") {
				$("#new-time-fields").show();
			} else {
				$("#new-time-fields").hide();
			}
		});

		// Obsługa kliknięcia przycisku
		$("#show-new-time-fields").click(function () {
			$("#new-time-fields").toggle();
		});
	});		
	</script>
}
	