
@model  List<CookBookMVC.Application.ViewModels.Ingredient.IngredientForListVm>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>
                <td>@ingredient.Name</td>
                <td>@ingredient.Quantity</td>
                <td>@ingredient.Unit</td>
            </tr>
        }
    </tbody>
</table>

