@model CookBookMVC.Application.ViewModels.Recipe.NewRecipeVm

<div class="form-group">
    <label asp-for="TimeId" class="control-label"></label>
    <select asp-for="TimeId" class="form-control" id="time-dropdown">
        <option value="">Select existing time</option>
        @foreach (var time in ViewBag.Times)
        {
            <option value="@time.Value">@time.Text</option>
        }
    </select>
    <span asp-validation-for="TimeId" class="text-danger"></span>
</div>


<div class="form-group" id="new-time-fields" style="display: none;">
    <label asp-for="TimeAmount" class="control-label">Amount:</label>
    <input asp-for="TimeAmount" class="form-control" />
    <span asp-validation-for="TimeAmount" class="text-danger"></span>

    <label asp-for="TimeUnit" class="control-label">Unit:</label>
    <input asp-for="TimeUnit" class="form-control" />
    <span asp-validation-for="TimeUnit" class="text-danger"></span>
</div>


<button type="button" class="btn btn-primary" id="show-new-time-fields">Add New Time</button>

@section Scripts {
    <script type="text/javascript">
        $(window).on("load", function () {
            alert("Skrypt został wywołany po załadowaniu strony.");
            // Sprawdź początkowy stan dropdownu i pokaż/ukryj pola
            if ($("#time-dropdown").val() === "Select existing time") {
                $("#new-time-fields").show();
            } else {
                $("#new-time-fields").hide();
            }

            // Obsługa zmiany wartości w dropdownie
            $("#time-dropdown").change(function () {
                if ($(this).val() === "Select existing time") {
                    $("#new-time-fields").show();
                } else {
                    $("#new-time-fields").hide();
                }
            });

            // Obsługa kliknięcia przycisku
            $("#show-new-time-fields").click(function () {
                $("#new-time-fields").toggle();
            });
        });

    </script>
}
